# no VS/VSC content
.vs
.vscode

# no compiled object files
*.slo
*.lo
*.o
*.obj

# no compiled dynamic libraries
*.so
*.dylib
*.dll

# no compiled static libraries
*.lai
*.la
*.a
*.lib

# no executables
*.exe
*.out
*.app

# ignore build directories
build
cmake_out

# ignore animation files
animation
